<a href="https://colab.research.google.com/github/avantikabalaji2002/My_Projects/blob/main/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hi")

hi

This is a part of the notebook, but a textbox.

In [2]:
print(20+40)

60

In [5]:
a=int(input("Enter a number: ") )#Read input from user
#Condition
if a>10:
  print ("Number is greater than 10")
else:
  print ("Number is less than 10")

Enter a number: 30
Number is greater than 10

In [6]:
animals = {'cat', 'dog'}
print ('cat' in animals) 
print ('fish' in animals ) 
animals.add('fish') 
print ('fish' in animals)
print (len(animals))
animals.add('cat') 
print (len(animals) )
animals.remove('cat') 
print (len(animals) )

True
False
True
3
3
2

In [15]:
import numpy as np
a = np.array([[1, 2, 3],[2,3,1]])
print (type(a)) 
print (a.shape ) 
print (a[0][0], a[0][1], a[0][2]) # Prints "1 2 3"
a[0][0] = 5 # Change an element of the array
print (a) # Prints "[5, 2, 3]"
b = np.array([[1,2,3],[4,5,6]]) # Create a rank 2 array
print( b.shape ) # Prints "(2, 3)"
print( b[0, 0], b[0, 1], b[1, 0])

<class 'numpy.ndarray'>
(2, 3)
1 2 3
[[5 2 3]
 [2 3 1]]
(2, 3)
1 2 4